#notes__display {
  background: white;
}

#notes__display .image__display {
  text-align: center;
  width: 100%;
}

#notes__display .image__display div {
  font-family: 'Orelega One', cursive;
}

#notes__display .image__display div img {
  margin-top: 10vh;
  margin-bottom: 10px;
}

#notes__display .loading {
  font-family: 'Orelega One', cursive;
}

#notes__display .notes__list {
  padding-top: 80px;
  padding-bottom: 7%;
  width: 96%;
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#notes__display .notes__list.image__display div img {
  margin-top: 0%;
}
/*# sourceMappingURL=Notes.css.map */