.note__display {
  border-radius: 15px;
  margin-bottom: 20px;
  margin-right: 15px;
  font-family: 'Orelega One', cursive;
}

.note__display .note__title {
  margin-left: 3px;
}

.note__display .note__title h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note__display .note__content {
  margin-left: 5px;
}

.note__display .note__option__container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 30px;
}

.note__display .note__option__container .note__date {
  left: 5px;
}
/*# sourceMappingURL=NoteDisplay.css.map */