#menu__bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  height: 6.5vh;
  margin-left: 0px;
  margin-right: 0px;
}

#menu__bar #user__details {
  margin-left: 5%;
}

#menu__bar #user__details #user__name {
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

#menu__bar #menu__options {
  text-align: right;
}

#menu__bar #menu__options .add__note {
  cursor: pointer;
  color: #5E81F4;
}

#menu__bar #menu__options .sign__out {
  cursor: pointer;
}

#menu__bar #menu__options .sign__out :active {
  position: relative;
  top: 1px;
}
/*# sourceMappingURL=MenuBar.css.map */