.delete__note {
  cursor: pointer;
  position: absolute;
  background: #000000;
  color: white;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  padding: 8px;
  top: 10px;
  right: 10px;
}
/*# sourceMappingURL=DeleteNote.css.map */