:root {
  --amplify-primary-color: #10b9f2;
  --amplify-primary-tint: #1ebbf0;
  --amplify-primary-shade: #0db6ee;
}

.loading{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}